[package]
name = "_interpn"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "_interpn"
crate-type = ["cdylib"]

[dependencies]
pyo3 = "0.20.0"
numpy = "0.20.0"
interpn = "0.1.0"
# interpn = { path = "../interpn/interpn" }

[profile.release]
opt-level = 3
codegen-units = 1
lto = true

[profile.dev]
opt-level = 3
codegen-units = 1
lto = true
